body{
    margin:auto;
    background-color: #f0f5f9;
}


#menu-table{
    position: absolute;
    top: 18vh;

}
#menu-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10vh;
}

#menu-div table tr th{
    
    transition: 0.3s;
    font-size: 35px;
}

table tr th{
    padding:20px;
    font-size: 25px;
    font-family:math;
    background-color: black;
    color:white;
    opacity: 0.8;
    border-radius:12px;

}

#menu-div table tr th:hover{
    opacity: 1;
    cursor: pointer;
    background-color: aliceblue;
    color:black;
}


#dish-div{
    position: absolute;
    top: 1vh;
    left: 0pc;
}
iframe{
    height:550px;
    width:720px;
    position: absolute;
    left:31pc;
    top:35vh;
}
#image-div{
    height: 1000px;
}
#image-div img{
    height: 100%;
    width:100%;
}
#pagination-div{
    position: absolute;
    top: 85vh;
    left: 86vh;
}

button{
    font-size: 25px;

}

#pagination-div a{
    font-size: 23px;
    padding:10px 45px;
}

#gallery-div1{
    height: 500px;
    width: 1200px;
    display: flex;
    position: absolute;
    left: 30vh;
    top: 100pc;
  
}


#gallery-div2{
    display: flex;
    position: absolute;
    left: 30vh;
    top: 147.2pc;
    width:1200px;
    height:500px;
}
.img-size img{
    height: 500px;
    width: 400px;
    font-family: math;
    font-size: 29px;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 20px;
}

.para-div{
    position:absolute;
    font-family: lucida sans;
    font-size:30px;
    color:white;
    
}

.img-div{
    display: flex;
    justify-content: center;
}

#gallery-para-div{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: absolute;
    top: -32vh;
    left: 30pc;
}

#gallery-para-div p{
    color:#6969c2;;
    font-size: 40px;
    text-decoration: underline overline;
    text-decoration-thickness: 2px;
}

#footer-div {
    position: absolute;
    left: 0;
    bottom: -171pc;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    height: 335px;
}

#contact{
    font-family:sans-serif;
    font-weight:500;
}

#contact-div p{
    font-size: 24px;
}

.info-font{

    font-family: verdana;
    font-size:25px;
    font-weight: 500;
}

b{
    font-weight: 500;
    font-family: sans;
    font-size: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );  
    
  }
  
  .card img{
    height: 500px;
    border-radius: 10%;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
    
   
    
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .parallax{
    background-image: url("../img/aboutBackground.jpg");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  
  }
  
  #desc-div{
    position:absolute;
    top:0px;
    font-size: 30px;
    width:780px;
    height: 500px;
  
  }
  
  #desc-div h1{
    position: absolute;
    top:12pc;
    left:24pc;
  }
  
  #desc
  {
    position: absolute;
    top: 29pc;
    left: 59pc;
    font-size: 34px;
    width: 493px;
  
  }
  
  #desc h3{
    font-family: monospace;
    font-size: 37px;
    position: absolute;
    left: -45pc;
    width: 28pc;
    top: 39pc;
  }
  
  .row{
    background-color: powderblue;
  }
  
  .row h1{
    font-size: large;
    font-family: sans-serif;
    font-size: 37px;
  }
  
  .about-chef-img{
    height: 503px;
    width: 605px;
    position: absolute;
    right: 35pc;
    top: 2pc;
  }
  
  
  .about-chef-img img{
    height: 550px;
    width: 400px;
    border-radius: 23%;
    
  }
  
  #dish-img
  {
    height: 500px;
    width: 500px;
    position: absolute;
    top:38pc;
    border-radius: 50%;
  }
  
  footer
  {
    background-color: rgb(116, 180, 183);
  
  }
  
  .footer-container
  {
    width: 100%;
    padding: 70px 30px 20px ;
  
  }
  
  .social-icons
  {
    display: flex;
    justify-content: center;
  
  }
  
  
  .social-icons i
  {
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
    color: powderblue;
    margin: 10px;
    border-radius: 50%;
    opacity: 0.9;
  }
  
  .social-icons i:hover
  {
    background-color: #111;
    transition: 0.5s;
  
  }
  
  .footer-nav
  {
    margin: 30px 0px;
  
  }
  
  .footer-nav ul
  {
    display: flex;
    justify-content: center;
  }
  
  .footer-nav ul a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    
  }
  
  
  
  .footer-nav ul a:hover
  {
    opacity: 1;
    color: rgb(78, 116, 121);
  }
  
  .footer-bottom
  {
    padding: 20px;
    text-align: center;
  
  }
  
  .designer
  {
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px ;
  
  }